
@{
    ViewData["Title"] = "UserCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Cart>
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Sepetiniz</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Resim</th>
                                <th>Ürün Adı</th>
                                <th>Fiyat</th>
                                <th>Adet</th>
                                <th>Toplam</th>
                                <th>Kaldır</th>
                            </tr>
                        </thead>
                        <tbody id="tBodyCartItems">
                            @foreach (var cartItem in Model)
                            {
                                <tr cartid="@cartItem.Id">
                                    <td class="thumbnail-img">
                                        <a href="#">
                                            <img class="img-fluid" src="@cartItem.Product.ProductPhotos.SingleOrDefault(x=>x.IsCoverPhoto).Photo" alt="" />
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="@(StringManipulator.GetSeoFriendlyString(cartItem.Product.ProductName) + "-" + cartItem.ProductId)" target="_blank">
                                            @cartItem.Product.ProductName
                                        </a>
                                    </td>
                                    <td class="price-pr">
                                        <p>
                                            @{
                                                decimal price = 0;

                                                if (cartItem.Product.DiscountRate.HasValue)
                                                {
                                                    price = ((1 - (cartItem.Product.DiscountRate / 100.0M)) * cartItem.Product.Price).Value;

                                                }
                                                else
                                                {
                                                    price = cartItem.Product.Price.Value;
                                                }
                                            }

                                            @price.ToString("N2") TL


                                        </p>
                                    </td>
                                    <td class="quantity-box">
                                        <input type="number" size="4" value="@cartItem.Quantity" min="0" step="1" class="c-input-text qty text" cartid="@cartItem.Id">
                                    </td>
                                    <td class="total-pr" cartid="@cartItem.Id">
                                        <p>@((price * cartItem.Quantity).ToString("N2")) TL</p>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="#" class="btnRemoveFromCart" cartid="@cartItem.Id">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-6 col-sm-6">
                <div class="coupon-box">
                    <div class="input-group input-group-sm">
                        <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-theme" type="button">Apply Coupon</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="update-box">
                    <input id="btnUpdateCart" value="Update Cart" type="button">
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Order summary</h3>
                    <div class="d-flex">
                        <h4>Sub Total</h4>
                        <div class="ml-auto font-weight-bold">
                        
                        </div>
                    </div>
                    <div class="d-flex">
                        <h4>Discount</h4>
                        <div class="ml-auto font-weight-bold"> $ 40 </div>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex">
                        <h4>Coupon Discount</h4>
                        <div class="ml-auto font-weight-bold"> $ 10 </div>
                    </div>
                    <div class="d-flex">
                        <h4>Tax</h4>
                        <div class="ml-auto font-weight-bold"> $ 2 </div>
                    </div>
                    <div class="d-flex">
                        <h4>Shipping Cost</h4>
                        <div class="ml-auto font-weight-bold"> Free </div>
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>Grand Total</h5>
                        <div class="ml-auto h5"> $ 388 </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-12 d-flex shopping-box"><a href="checkout.html" class="ml-auto btn hvr-hover">Checkout</a> </div>
        </div>

    </div>
</div>


@section scripts{
    <script src="~/js/UserCart.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.js"></script>
}
@section styles{
    <link href="~/lib/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />
}