@model  List<Slider>

<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        @foreach (var slider in Model)
        {
            if (slider.IsActive != false)
            {
                <li class="text-center">
                    <img src="@slider.SliderImage" alt="@slider.Header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>@slider.Header</strong></h1>
                                <p class="m-b-40">@slider.Description</p>
                                @if (!string.IsNullOrEmpty(slider.Link))
                                {
                                    <p><a class="btn hvr-hover" href="@slider.Link">TIKLA</a></p>
                                }

                            </div>
                        </div>
                    </div>
                </li>
            }

        }

    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>