
@model List<Product>

<div role="tabpanel" class="tab-pane fade show active" id="grid-view">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img src="@(product.ProductPhotos.SingleOrDefault(x=>x.IsCoverPhoto).Photo)" class="img-fluid" alt="Image" style="height:220px;">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="/@(StringManipulator.GetSeoFriendlyString(product.ProductName) + "-" + product.Id)" data-toggle="tooltip" data-placement="right" title="Görüntüle"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Karşılaştır"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="İstek Listesine Ekle"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Sepete Ekle</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>@product.ProductName</h4>
                        <h5>@(product.DiscountRate.HasValue ? ((1 - (product.DiscountRate.Value / 100.0M)) * product.Price.Value).ToString("N2") : product.Price.Value.ToString("N2")) TL</h5>
                    </div>
                </div>
            </div>
        }


    </div>
</div>
<div role="tabpanel" class="tab-pane fade" id="list-view">
    @foreach (var product in Model)
    {
        <div class="list-view-box">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">New</p>
                            </div>
                            <img src="@(product.ProductPhotos.SingleOrDefault(x=>x.IsCoverPhoto).Photo)" class="img-fluid" alt="Image" style="height:220px;">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="/@(StringManipulator.GetSeoFriendlyString(product.ProductName) + "-" + product.Id)" data-toggle="tooltip" data-placement="right" title="Görüntüle"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                    <div class="why-text full-width">
                        <h4>@product.ProductName</h4>
                        @*<h5> <del>$ 60.00</del> $40.79</h5>*@
                        <h5>
                            @if (product.DiscountRate.HasValue)
                            {
                                <del>@product.Price.Value.ToString("N2") TL</del>
                                <span>@(((1 - (product.DiscountRate / 100.0M)) * product.Price).Value.ToString("N2")) TL</span>

                            }
                            else
                            {
                                <span>@product.Price.Value.ToString("N2") TL</span>
                            }
                        </h5>
                        <p>
                            @product.ShortDescription
                        </p>
                        <a class="btn hvr-hover" href="#">Sepete Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    }


</div>